body {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px; /* Adjust as needed deppending on your screen size */
    height: 960px; /* Adjust as needed deppending on your screen size */
    border: 1px solid black;

}

.button-container {
    margin-bottom: 10px;
}

.grid-item {
    flex: 0 0 calc(100% / 16); /* 16 items per row */
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
}